h1 {
  color: black;
  font-family: Helvetica;
}

h2 {
  color: black;
  font-family: Helvetica;
}

body {

}

canvas {
  background: orange;
}


#container
{
  height: 400px;
  position: relative;
  width: 400px;
}

.viewport
{
  height: 100%;
  width: 100%;
}


#beginningbutton
{
  bottom: 150px;
  left: 238px;
  position: absolute;
  color: grey;
  background-color: black;
  height: 100px;
  width: 100px;
  border: none;
}
